@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@400;600;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END MEYER RESET */

body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  background-color: #262626;
  letter-spacing: .5px;
}

header {
  padding: 0 70px;
  display: flex;
  background-color: #191919;
  height: 50px;
}

.logo {
  height: 40px;
  padding: 5px 10px 5px 0;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header > a {
  align-self: center;

}

nav a {
  align-self: center;
  padding: 0 10px;
}

a > li {
  display: inline;
  padding-right: 5px;
}

.link-set {
  display: flex;
}

.spacer {
  border-right: 1px solid #666;
  margin: 10px 5px 10px 0;
  padding: 0 5px;
}

.arrow {
  vertical-align: middle;
  border: solid #999;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  margin-bottom: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.search-icon {
  height: 16px;
  align-self: center;
  padding: 0 10px;
}

main {
  padding: 25px 70px;
}

.hero-banner {
  display: flex;
  width: 100%;
  background-color: #332d23;
}

.hero-image {
  width: 75%
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  text-align: center;
}

h1 {
  font-size: 26px;
}

.game-logo {
  width: 100%;
  max-width: 200px;
}

p {
  font-size: 16px;
  margin: 20px 0;
  line-height: 1.2;
}

button {
  width: 110px;
  border-radius: 100px;
  padding: 8px 12px;
  border-style: solid;
  font-size: 14px;
  margin: 5px;
  font-weight: 700;
}

.primary-button {
  background-color: #fff;
  border-color: #fff;
}

.secondary-button {
  background-color: transparent;
  color: #fff;
}

.plus {
  font-size: 16px;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  margin: 15px 0;
}

.latest {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

article {
  width: 19.5%;
}

.video {
  max-width: 100%;
}

h3 {
  line-height: 1.5;
  font-size: 15px;
}
.tag {
  font-weight: 700;
}

.time {
  margin: 0;
  color: #999;
  font-size: 14px;
}